.logo {
    width: 60px;
    height: 60px;
    transform: translate(-4px);
    margin-left: 10px;
    margin-top: -15px;
}

.navbar-brand {
    font-weight: 500;
}

body, html {
    background-image: url(../images/hire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Ajuste para a altura ser baseada na janela de visualização */
    margin: 0;
    display: flex;
    flex-direction: column; /* Conteúdo na direção da coluna */
}

main {
    flex-grow: 1; /* Permite que o main ocupe todo o espaço restante do body */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.credit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; /* Ajuste a largura conforme necessário */
    background-color: rgba(255, 255, 255, 0.664); /* Fundo branco com 70% de opacidade */
    padding: 20px; /* Espaçamento interno para dar um pouco de respiro ao conteúdo */
    border-radius: 8px; /* Borda arredondada, se desejar */
    
}

.credit img {
    width: 50%;
}

.credit button {
    background: #1fdf9f;
    border-radius: 6px;
    border: 1px solid black;
    font-weight: 500;
    padding: 10px 50px;
    font-size: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(24, 159, 212, 0.06);
}
.spacer{
    padding: 15px;
    margin-top: 10px;
}

.credit h1 {
    color: black;
}

.credit h3 {
    margin-top: 100px;
    font-size: 21px;
    color:#303030 ;
}