.logo {
    width: 60px;
    height: 60px;
    transform: translate(-4px);
    margin-left: 10px;
    margin-top: -15px;
}

.navbar-brand {
    font-weight: 500;
}

.custom-div {
    border: 1px solid #ccc;
    position: relative;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin: 0 auto;
}
body {
    background-color: #1fdf9f;
}
.profile-card {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.profile-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.profile-image img {
    width: 100%;
    height: auto;
}
