body {
    background-color: rgb(35, 119, 175, 0.178);
    font-family: 'Arial', sans-serif;
}

.logo {
    width: 60px;
    height: 60px;
    transform: translate(-4px);
    margin-left: 10px;
    margin-top: -15px;
    filter: invert(1);
}

.navbar-brand {
    font-weight: 500;
}

.profile-card {
    background-color: #fff;
    border-radius: 15px;

    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.profile-image img {
    border-radius: 50%; 
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 3px solid rgba(70, 70, 70, 0.322);
}

.user-details p {
    color: #555;
}

.edit-btn {
    display: block;
    width: 100%;
    background-color: rgba(33, 102, 148, 0.836);
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-btn:hover {
    background-color: rgba(70, 142, 190, 0.836);
}

.info-section {
    text-align: center;
}

.info-title {
    color: rgba(33, 102, 148, 0.829);
    font-size: 1.4rem;
}

.info-count {
    font-size: 3rem;
    color: #535353;
    font-weight: bold;
    margin-top: 10px;
}

.actions-section h3 {
    color: rgba(6, 92, 150, 0.829);
    text-align: center;
    margin-bottom: 20px;
}

.actions-list button {
    display: block;
    width: 100%;
    margin: 10px 0;
    background-color: rgba(42, 133, 194, 0.836);
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actions-list button:hover {
    background-color: rgba(42, 133, 194, 0.9);
}
