.logo{
    width: 60px;
    height: 60px;
    transform: translate(-4px);
    margin-left: 10px;
    margin-top: -15px;
}
.navbar-brand{
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar{
    width: 100%;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da viewport */
    flex-direction: column; /* isso garante que o conteúdo seja centrado verticalmente */
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px); /* Supondo que seu navbar tenha uma altura fixa de 56px; ajuste conforme necessário */
    flex-direction: column;
}
.wrapper {
    position: relative;
    width: 600px; /* Ajuste este valor conforme desejar */
    margin: 0 auto; /* Centraliza o formulário */
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 65px;
  border-radius: 12px;
  background: rgba(42, 133, 194, 0.836);
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}


form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: rgba(42, 133, 194, 0.836);
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: rgba(42, 133, 194, 0.836);
  cursor: pointer;
}
.input-box.button input:hover{
  background: rgba(42, 133, 194, 0.836);
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: rgba(42, 133, 194, 0.836);
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}


.button-group input {
    margin: 0 5px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: rgba(42, 133, 194, 0.836);
    cursor: pointer;
    width: 150px; /* Defina a largura desejada aqui */
}


.button-group input:hover {
    background: rgba(30, 92, 134, 0.836);
}

.btn-voltar {
  border: 1px solid rgb(124, 124, 124)!important;
  background-color: rgb(206, 206, 206)!important;
  font-size: 18px!important;
  border-radius: 5px!important;
  margin-top: 20px!important;  /* Adiciona uma margem acima do botão */
  width: 20%!important;
  
}
.btn-voltar:hover {
background-color: rgb(186, 186, 186) !important;
cursor: pointer;
}

.input-box textarea.input-desc {
  height: 100px;  /* ou qualquer altura inicial que você desejar */
  width: 100%;
  padding: 10px;
  font-size: 17px;
  border: 1.5px solid #C7BEBE;
  border-radius: 6px;
  resize: none; /* permite ao usuário ajustar a altura, mas não a largura */
}

.wrapper form .input-box {
    margin: 18px 0 30px 0; /* 30px é um valor sugerido, ajuste conforme necessário */
}
.spacer {
    padding: 10px 0;  /* Ajuste conforme necessário */
}