
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da viewport */
    flex-direction: column; /* isso garante que o conteúdo seja centrado verticalmente */
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px); /* Supondo que seu navbar tenha uma altura fixa de 56px; ajuste conforme necessário */
    flex-direction: column;
}
.wrapper {
    position: relative;
    width: 600px; /* Ajuste este valor conforme desejar */
    margin: 0 auto; /* Centraliza o formulário */
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 65px;
  border-radius: 12px;
  background: rgba(42, 133, 194, 0.836);
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box {
  height: auto; /* Isso permitirá que o div cresça para acomodar seu conteúdo */
  margin: 10px 0; /* Ajustando a margem para um espaçamento mais uniforme */
}
.checkbox-container input[type="checkbox"] {
  width: auto; /* Redefine o tamanho para o tamanho padrão do navegador */
  height: auto; /* Redefine o tamanho para o tamanho padrão do navegador */
  margin: 0; /* Remove margens adicionais */
  padding: 0; /* Remove padding adicional */
  vertical-align: middle; /* Alinha verticalmente no meio */
}

/* Estilo para os checkboxes */
.input-box label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 10px; /* Espaçamento entre as opções */
}

.input-box input[type="checkbox"] {
  display: none; /* Oculta o checkbox padrão */
}

/* Estilo "falso" para o checkbox */
.input-box label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(42, 133, 194, 0.836);
  border-radius: 4px;
  margin-right: 10px;
  transition: background 0.3s;
}

/* Estilo quando o checkbox é selecionado */
.input-box input[type="checkbox"]:checked + label:before {
  background: rgba(42, 133, 194, 0.836) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path fill="white" d="M6.293 0.293L3 3.586 1.707 2.293 0 4l3 3 6-6z"></path></svg>') no-repeat center center;
  background-size: 60% 60%;
}

/* Estilo para o texto */
.input-box label {
  color: #333;
}




form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: rgba(42, 133, 194, 0.836);
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: rgba(42, 133, 194, 0.836);
  cursor: pointer;
}
.input-box.button input:hover{
  background: rgba(42, 133, 194, 0.836);
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: rgba(42, 133, 194, 0.836);
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}


.button-group input {
    margin: 0 5px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: rgba(42, 133, 194, 0.836);
    cursor: pointer;
    width: 150px; /* Defina a largura desejada aqui */
}



.input-box .input-desc {
    height: 100px;  /* ou o tamanho que você deseja */
    resize: vertical; /* permite ao usuário ajustar o tamanho verticalmente */
}
.wrapper form .input-box {
    margin: 18px 0 30px 0; /* 30px é um valor sugerido, ajuste conforme necessário */
}
.spacer {
    padding: 0px 0;  /* Ajuste conforme necessário */
}
.formulario .wrapper .signin-img{
    width: 40%;
    display: flex;
    margin-bottom: 20px;
}

.input-box p {
    color: #9b9b9b;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group input {
    flex: 1; /* para os botões ocuparem todo o espaço disponível */
    margin: 0 5px; /* para dar um pequeno espaço entre os botões */
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: rgba(42, 133, 194, 0.836);
    cursor: pointer;
}

.button-group input:hover {
    background: rgba(30, 92, 134, 0.836);
}