
.logo {
    width: 60px;
    height: 60px;
    transform: translate(-4px);
    margin-left: 10px;
    margin-top: -15px;
    filter: invert(1);
}

.navbar-brand {
    font-weight: 500;
}

.custom-div {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background-color: #1fdf9f;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;  /* centraliza o botão */
}

.custom-btn:hover {
    background-color: #555;
}

.custom-div img {
    object-fit: cover;
    width: 70%;
    height: auto;
    display: block;
    margin: 20px auto;  /* centraliza a imagem */
}

.custom-div p {
    margin-top: 10px;
}
.custom-div {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;  /* Adicionado */
}

.back-arrow {
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.back-arrow:hover {
    background-color: #f7f7f7;
}

.custom-div {
    position: relative; /* Já mencionado anteriormente, mas reforçando aqui */
    /* restante do CSS */
}

.location-text {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.image-group {
    display: flex;
    justify-content: center; /* Centraliza as imagens no eixo horizontal */
    align-items: center; /* Centraliza as imagens no eixo vertical */
    gap: 10px; /* Espaçamento entre as imagens */
    margin: 20px 0; /* Espaço acima e abaixo das imagens */
}

.small-image {
    max-width: 20%; /* Aqui definimos a largura das imagens. Você pode ajustar este valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.top-right-text {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Para tornar o texto legível independentemente da imagem */
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
}


p{
    font-size: large;
    font-weight: 450
}

.back-link {
    font-weight: bold;
    font-size: 16px; 
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: black;
    background-color: #c4c4c4;
    padding: 5px 8px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.back-link:hover {
    background-color: #f7f7f7;
}

body {
    overflow-x: hidden;
}

.container-fluid {
    max-width: 100%;
    padding: 0 20px; /* padding para dar algum espaço nas laterais */
}

/* Correção em dispositivos pequenos */
@media (max-width: 576px) {
    .custom-div img {
        max-width: 100%;
    }
}

/* Estilos existentes... */

/* Media Query para tablets */
@media (max-width: 768px) {
    body .container-fluid {
        margin-left: 50px !important;
    }

    .col-lg-5.mb-4 {
        margin-right: 50px;
    }
    
    .custom-div img {
        width: 90%;
    }
}

/* Media Query para dispositivos móveis */
@media (max-width: 576px) {
    body .container-fluid {
        margin-left: 10px !important;
    }

    .col-lg-5.mb-4 {
        margin-right: 10px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .custom-div img {
        width: 100%;
    }

    p {
        font-size: medium;
    }
}

/* Título da coluna */
h3 {
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(71, 122, 216, 0.623);
    padding-bottom: 5px;
}

/* Lista */
ul {
    list-style-type: none;
    padding: 0;
    
}

ul li {
    font-size: 18px;
    padding: 10px 0;
    position: relative;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    
    
}

ul li::before {
    content: '\2022'; /* bullet point */
    color: #007BFF; /* Cor do bootstrap primary */
    font-size: 24px;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

ul li:hover {
    cursor: default;
}

/* Adiciona um pouco de padding ao redor da coluna para uma melhor visualização */
.col-lg-5.mb-4 {
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.199);
}
li span {
    font-size: 14px;
    padding-left: 10px;
    position: relative;
    transition: all 0.3s ease;
}

/* Estilo para o status Não iniciado */
.status-not-started {
    color: red;
}


/* Estilo para o status Iniciado */
.status-started {
    color: green;
}

#primeiro{
    margin-right: 150px;
    margin-left: 100px;
}

.fases-container {
    display: inline-block; /* faz a div se ajustar ao conteúdo */
}


.fases-container ul {
    margin-bottom: 10px; /* Adiciona uma pequena margem abaixo da lista */
}
