.logo{
    width: 60px;
    height: 60px;
    transform: translate(-4px);
    margin-left: 10px;
    margin-top: -15px;
    filter: invert(1);
}
.navbar-brand{
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1030; /* Um valor elevado para garantir que a navbar sempre fique acima dos outros elementos */
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da viewport */
    flex-direction: column; /* isso garante que o conteúdo seja centrado verticalmente */
}

.formulario {
    display: flex;
    justify-content: center;
    padding-top: 45%;
    align-items: flex-start; /* Modificando de center para flex-start */
    height: calc(100vh - 56px); /* Supondo que seu navbar tenha uma altura fixa de 56px; ajuste conforme necessário */
    flex-direction: column;
    
}
.wrapper {
    position: relative;
    width: 600px; /* Ajuste este valor conforme desejar */
    margin: 0 auto; /* Centraliza o formulário */
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    height: 1500px;
    margin-bottom: 40px;
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 65px;
  border-radius: 12px;
  background: rgb(35, 119, 175, 0.178);
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
.input-box input[type="checkbox"] {
  display: none; /* Oculta o checkbox padrão */
}
/* Estilo "falso" para o checkbox */
.input-box label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(42, 133, 194, 0.836);
  border-radius: 4px;
  margin-right: 10px;
  transition: background 0.3s;
}

/* Estilo quando o checkbox é selecionado */
.input-box input[type="checkbox"]:checked + label:before {
  background: rgba(42, 133, 194, 0.836) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path fill="white" d="M6.293 0.293L3 3.586 1.707 2.293 0 4l3 3 6-6z"></path></svg>') no-repeat center center;
  background-size: 60% 60%;
}

form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: rgb(35, 119, 175, 0.178);
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: rgb(35, 119, 175, 0.178);
  cursor: pointer;
}
.input-box.button input:hover{
  background: rgb(35, 119, 175, 0.178);
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: rgb(35, 119, 175, 0.178);
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}


.button-group input {
    margin-top: 40px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: rgba(35, 119, 175, 0.822);
    cursor: pointer;
    width: 150px; /* Defina a largura desejada aqui */
}

.provas{
  color: rgba(35, 119, 175, 0.822);
  text-align: center;
  font-weight: bold;
}

.row p {
  color: #3e7bb49f;
  font-weight: 600;
}
.button-group input:hover {
    background: rgba(35, 119, 175, 0.582);
}
.voltar {
    border: 1px solid rgb(124, 124, 124);
    background-color: rgb(206, 206, 206);
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;  /* Adiciona uma margem acima do botão */
    width: 20%;
    
}

.fases-section {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}

.fases-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: bold;
}
.checkbox-container label {
    margin-left: 8px;
}

.logo {
  width: 60px;
  height: 60px;
  transform: translate(-4px);
  margin-left: 10px;
  margin-top: -15px;
}

.navbar-brand {
  font-weight: 500;
}
