body {
    background-color: rgb(35, 119, 175, 0.178);
    font-family: 'Arial', sans-serif;
}


.logo {
    width: 60px;
    height: 60px;
    transform: translate(-4px);
    margin-left: 10px;
    margin-top: -15px;
    filter: invert(1);
}

.navbar-brand {
    font-weight: 500;
}


.custom-div {
    border: 1px solid #ccc;
    position: relative;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin: 0 auto;
}

.custom-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background-color: #1fdf9f;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.custom-btn:hover {
    background-color: #555;
}

.custom-div img {
    object-fit: cover; /* Adicionado para manter as proporções */
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
}

.custom-div p {
    margin-top: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-bar {
    width: 70%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: rgb(35, 119, 175, 0.178);
    color: #fff;
}

.search-btn:hover {
    background-color: rgb(35, 119, 175, 0.178);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
}


.header-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(35, 119, 175, 0.178);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 15%; /* Ajuste este valor conforme necessário para mover o botão mais para a esquerda ou direita */
}

.header-btn:hover {
    background-color: #555;
}
